/* ======================================================================== */
/* Page Interface Structures */

/*
 * The following variables and classes all relate to various page
 * interfaces, such as the proofreading interfaces (standard and
 * enhanced), WordCheck, the proofreading toolbox, code point
 * validator, display image interface, etc.
 */

/* variables */

/* Text pane */
@text-pane-background: white;
@text-pane-text: black;

/* Image pane */
@image-pane-background: #BDBDBD;

/* Page control pane */
@control-pane-background: @header-background;
@control-pane-text: @header-text;

/* Toolbox pane */
@toolbox-pane-background: #8E8E8E;
@toolbox-pane-text: black;
@toolbox-pane-menu: white;

/* Links */
@page-interface-link-color: #0000ff;
@page-interface-visited-color: #990099;
@page-interface-active-color: #ff0000;

/* WordCheck*/
@preWC: #c2c2c2;
@noWC: #ffb321;
@WC: #97fc9e;

/* Other colors */
@pi-text-link-disabled: #666666;

/* Classes*/

.page-interface {
    /*
    We can't apply 'background-color' here without impacting how page numbers
    work in the PI. Each "pane" needs to apply their own background color.
    */

    /* Page Text entities */
    .text-pane,
    #quiz_text,
    #page_line_number,
    .ql-container {
        background-color: @text-pane-background;
        color: @text-pane-text;
    }

    /* Image entities */
    #image_content {
        background-color: @image-pane-background;
    }

    /* Top of page controls */
    .control-pane,
    #quiz_controls,
    #page_control {
        padding: 0.4em;

        background-color: @control-pane-background;
        color: @control-pane-text;

        input[type=image] {
            border: none;
        }
    }

    /* Horizontal / Vertical change icon */
    .image_button {
        width: 1.7em;
        height: 1.7em;
        vertical-align: middle;
        margin-right: 0.2em;
        /* TODO: these are SVGs and we can't change the color on them;
                 probably need to invert them for dark theme */
    }

    .image_button_disabled {
        filter: opacity(30%);
    }
}

/* ------------------------------------------------------------------------ */
/* WordCheck Interface */

.preWC {
    background-color: @preWC;
}
.noWC {
    background-color: @noWC;
    .bold();
}
.WC {
    background-color: @WC;
}

/* ------------------------------------------------------------------------ */
/* Codepoint Validator */

.flex_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fixedbox {
    flex: 0 0 auto;
    padding: 2px;
    .page-interface .control-pane();
}

.stretchbox {
    flex: auto;
    min-height: 10px;
    overflow: auto;
    .page-interface .text-pane();
}

.ws-pre {
    white-space: pre;
    padding-left: 0.5em;
    text-align: left;
    font-family: monospace;
}

.bad-char {
    background: #ff99cc;
}

/* ------------------------------------------------------------------------ */
/* Proofreading Toolbox */

#toolbox {
    padding: 2px;
    .solid-border();

    .sans-serif();

    background-color: @toolbox-pane-background;
    color: @toolbox-pane-text;

    input, select, button {
        background-color: @text-pane-background;
        color: @text-pane-text;
        .solid-border();
    }

    input[type=submit]:disabled, input[type=button]:disabled, button:disabled {
        background-color: shade(@text-pane-background, 30%);
    }

    button, input[type=submit], input[type=button] {
        box-shadow: 1px 1px grey;
        border-radius: 3px;
    }

    input[type=image] {
        border: none;
    }

    .selector_button {
        background-color: @toolbox-pane-menu;
        margin-top: 1px;
        font-size: 1em;
        padding: 0.1em 0.15em 0 0.15em;
        margin-right: 2px;
        min-width: 1em;
    }

    .selected-tab {
        .bold();
        background-color: @text-pane-background;
        box-shadow: -1px -1px grey;
    }

    .key-block {
        display: none;
    }

    .show {
        display: table;
    }

    .char_box {
        padding-top: 1px;
    }

    .big_text, .picker {
        font-family: DejaVu Sans Mono;
        vertical-align: middle;
        text-align: center;
        width: 1.1em;
    }

    .big_text {
        font-size: 300%;
        margin: 2px;
    }

    .picker {
        font-size: 1em;
        margin-top: 1px;
        padding: 0;
    }

    #tools {
        margin-left: 2px;
        margin-right: 0.5em;
        text-align: right;
        width: 100%;

        a:link {
            color: @page-interface-link-color;
        }
        a:visited {
            color: @page-interface-visited-color;
        }
        a:active {
            color: @page-interface-active-color;
        }

        /* disable formatting tools by default, JS displays them for F* rounds */
        .format_tool {
            display: none;
        }
    }
}

#hide-picker-button,
#show-picker-button {
    font-size: 2em;
    height: 2.5em;
    padding: 0;
    .solid-border();
    background-color: @toolbox-pane-background;
    color: @toolbox-pane-text;
}

#show-picker-button {
    margin: 2px;
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* ------------------------------------------------------------------------ */
/* Page interfaces */

#quiz-interface,
#page-browser,
#proofreading_interface {
    height: 100%;
    display: flex;
    flex-direction: column;
    .fixed-box {
        flex:0 0 auto;
    }
    .stretch-box {
        flex: 1 1 100%;
        min-height: 10px;
    }
    .page-interface();
}

/* Settings bar-related styles */
.pane_settings_bar {
    border: 1px solid black;
    border-width: 0 0 1px 0;
    min-height: 2em;
    padding: 0.1em;
    flex: 0 0 auto;
    text-align: center;
    /* background hides overflowing line numbers */
    background: @navbar-background;
    color: @navbar-text;

    /* remove the spinners in WebKit-based browsers */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .spacer {
        padding: 0 0.5em;
    }
}

.line-spacer {
    width: 5em;
}

#settings_title {
    color: @heading-color;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

.text_number {
    width: 1.9rem;
    text-align: right;
    /* remove the spinners in Firefox-based browsers */
    -moz-appearance: textfield;
}

.bordered_button,
.bordered_icon_button {
    border-radius: 3px;
}

.bordered_icon_button {
    width: 1.7em;
    height: 1.7em;
    padding: 1px;
}


/* TODO: should these all be wrapped in <div>s to make them a unit
         and the styling applied to the unit?
*/
.tool_row button,
.tool_row label,
.tool_row input,
.settings_row button,
.settings_row label,
.settings_row input,
.pane_settings_bar button,
.pane_settings_bar label,
.pane_settings_bar input,
#action_buttons button,
#action_buttons label {
    margin-right: 0.2em;
}

.settings_row {
    margin: 1em 0;
}

/* Image pane-related styles */
#image_content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#image_content {
    overflow: auto;
    flex: auto;
    scrollbar-width: none;
}

/* Page pane-related styles */
#page_line_number {
    border-right: 1px solid gray;
    width: 2em;
    text-align: right;
    z-index: -10;
}

#page_line_number p {
    position: absolute;
    margin: 0;
    width: 1.8em;
}

.ql-editor u {
    text-decoration-color: red;
    text-decoration-style: wavy;
}

.ql-editor s {
    text-decoration-color: red;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.wc_accept_button {
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

/* ------------------------------------------------------------------------ */
/* Quizzes */

#quiz_left {
    flex: 0 0 60%;
}

#quiz_image {
    height: 50%;
    overflow: scroll;
}

#quiz_text_outer {
    height: 50%;
}

#quiz_text {
    border: 1px solid black;
}

#quiz_right {
    flex: 0 0 40%;
}
