.column-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#image_content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#image_content {
    overflow: auto;
    flex: auto;
    scrollbar-width: none;
}

.langcol {
    /* 12em fits the longest language name */
    column-width: 12em;
    text-align: left;
}

.row_flex {
    display: flex;
    flex-direction: row;
}

.fixed-box {
    flex: 0 0 auto;
}

.stretch-box {
    flex: 1 1 100%;
    min-height: 10px;
}

#page_control,
#quiz_controls {
    padding: 0.2em;
    background: white;
}

#settings_title {
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

.text_number {
    width: 1.9rem;
    text-align: right;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bordered_icon_button {
    border-radius: 3px;
    width: 1.7em;
    height: 1.7em;
    padding: 0;
    margin-right: 0.2em;
}

.tool_row button,
.tool_row label,
.tool_row input,
.settings_row button,
.settings_row label,
.settings_row input,
.pane_settings_bar button,
.pane_settings_bar label,
.pane_settings_bar input,
#action_buttons button,
#action_buttons label {
    margin-right: 0.2em;
}

.settings_row {
    margin: 1em 0;
}

/* disable formatting tools by default, JS displays them for F* rounds */
.format_tool {
    display: none;
}

.image_button {
    width: 1.7em;
    height: 1.7em;
    vertical-align: middle;
    background: beige;
    margin-right: 0.2em;
}

.opaque {
    filter: opacity(30%);
}

.pane_settings_bar {
    border: 1px solid black;
    border-width: 0 0 1px 0;
    background: white;
    min-height: 2em;
    padding: 0.1em;
    flex: 0 0 auto;
    text-align: center;
    /* background hides overflowing line numbers */
    background: white;
}

.text_box {
    white-space: pre;
    height: 100%;
}

.tool_box {
    border: 1px solid black;
    border-width: 1px 0 0 0;
}

.ql-editor u {
    text-decoration-color: red;
    text-decoration-style: wavy;
}

.ql-editor s {
    text-decoration-color: red;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.show_hide_picker_button {
    font-size: 2em;
    height: 2.5em;
    padding: 0;
    background: transparent;
}

#number_col {
    border-right: 1px solid gray;
    width: 2em;
    text-align: right;
    z-index: -10;
}

.numb_para {
    position: absolute;
    margin: 0;
    width: 1.8em;
}

.accept_button {
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}
